.jumbotron-row{
  margin: 0 !important;

  & .jumbotron{
    background-image: url("../images/sicily.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    border-radius: 0 !important;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color: white;
    transition: opacity 0.7s linear;
    position: relative;
    text-shadow: -1px -1px 10px black;

    & h2{
      position: relative;
      top: 200px;
    }

    & .fade-out{
      height: 200px;
      width: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      position: absolute;
      left: 0;
      bottom: 0px;
    }
  }
}

.part-1, .part-3, .part-5{
  font-size: 50px;
}

.part-3{
  color: white;
}

.part-2, .part-4{
  color: white;
}

.jt-appear{
  opacity: 0;
}

.jt-appear-active{
  opacity: 1;
  transition: opacity 500ms ease;
}

.it-appear{
  position: relative;
  left: -100px;
  opacity: 0;
}

.it-appear-active{
  left: 0px;
  opacity: 1;
  transition: left 500ms ease-out 200ms, opacity 700ms ease 300ms;
}
