.navbar-toggler{
  border: none !important;
}

.navbar{
  background-color: rgba(0,0,0,0.5) !important;
  font-family: 'Amatic SC', cursive;
  font-size: 20pt;
}

.nav-item{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-right: 50px;
}
