.navbar-toggler{
  border: none !important;
}

.navbar{
  background-color: rgba(0,0,0,0.5) !important;
  font-family: 'Amatic SC', cursive;
  font-size: 20pt;
  z-index: 2;
}

.nav-item{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &:hover{
    text-decoration: underline !important;
  }
}

.navbar-row{
  margin-right: 0 !important;
  margin-left: 0 !important;
  position: absolute;
  width: 100%;
}
